/* 
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰  HEADER  🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰
🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰🀰 */

/* SOURCE: https://www.cssscript.com/demo/header-navbar-templates/header-1.html#
https://www.cssscript.com/header-navbar-templates/ */

ol,
ul {
    list-style: none;
}

/* html {
    border: 5px solid rgb(243, 56, 56);
} */

.active-link {
    /* height: 58.5px; */
    color: black;
    /* color: orange; */
    /* border-bottom: 2px solid rgb(253, 186, 62); */
    /* border-bottom: 2px solid black; */
    /* font-weight: 600; */
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.wrapper--nav {
    display: flex;
    /* justify-content: space-between; */
    /* !!! */
    /* width: 90%; */
    max-width: 1000px;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    /* +++ */
    height: 50px;
}

/* *,
*:before,
*:after {
    box-sizing: border-box;
} */

a {
    /* letter-spacing: 1px; */
    text-decoration: none;
    font-weight: 400;
    /* color: #222; */
    color: #dadada;
}

a.nav-link {
    /* width: 75px; */
    height: 50px;
    /* border: 1px solid black; */
}

a.brand {
    opacity: 0.9;
    font-weight: 400;
    font-weight: 600;
    font-size: 25px;
    color: #000000;
}

/* BRAND SPANS */
.digit-2 {
    font-weight: 600;
    font-size: 30px;
    margin-left: 2px;
    margin-right: 2px;
    color: orange;
    color: rgba(255, 166, 0, 0.886);
}

.span--dot-com {
    font-size: 16px;
    font-weight: 100;
    margin-left: 1px;

    /* color: rgb(234, 216, 182); */
}


/* BRAND HOVER */
a.brand:hover {
    font-weight: 400;
    opacity: 0.8;
    letter-spacing: 0.011rem;
}

a.brand:hover .span--dot-com {
    letter-spacing: normal;
    /* opacity: 1; */
}

a.brand:hover .digit-2 {
    font-weight: 400;
}

/* NAV LINKS HOVER */
a.nav-link:hover {
    /* font-weight: 700; */
    /* color: #000000; */
    color: orange;
}

/* .digit-2:hover {
    color: #dadada;
} */

/* ALING NAV ITEMS WITH BRAND HORIZONTALLY */
.nav__item a {
    display: block;
    padding: 1.15rem 1rem;
}

.nav__toggle {
    display: none;
}



html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* body {
    font-family: "Roboto", sans-serif;
} */

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #2fa0f6;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

button.nav__toggle {
    width: 45px;
    height: 25px;
    border-style: none;
    /* border: 1px solid black; */
    /* border-radius: var(--button-border-radius); */
}

.button svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: #fff;
}

.button span {
    display: none;
}

@media (min-width: 600px) {
    .button span {
        display: initial;
    }
}

.button--icon {
    min-width: initial;
    padding: 0.5rem;
}

/* _______________________________________________________ */
/* 
** The Header Media Queries **
** Tweak as per your needs **
*/

/* HEADER/FOOTER BACKGROUND */
.site-header,
footer {
    position: relative;

    /* background-color: #def7ff; */
    /* background-color: #004d88d2; */
    background-color: var(--border-blue);
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 600px) {
    .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 600px) {
    .nav__wrapper {
        display: flex;
    }
}

/* HAMBURGER SIZE */
@media (max-width: 599px) {
    /* .site-header {
        z-index: 19;
    } */

    /* BRAND LINK */
    .wrapper--nav {
        padding-top: 10px;
        padding-bottom: 20px;
        /* border: 1px solid red; */
    }

    /* HAMBURGER */
    i.fa-solid {
        margin-bottom: 6px;
        color: black;
    }

    /* SLIDE UP */
    /* !!! BUG: TRANSITION IS TRIGGERED WITH RESIZE AND ORIENTATION CHANGE !!! */
    .nav__wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        /* background-color: #d9f0f7; */
        /* background-color: #529ce1; */
        /* background-color: #529ce1d9; */
        background-color: #0b121ae8;
        /* visibility: hidden; */
        opacity: 0;
        transform: translateY(-100%);
        /* DISABLED DUE TO BUG */
        /* transition: transform 0.4s ease-out, opacity 0.5s ease-out; */
    }

    /* SLIDE DOWN */
    .nav__wrapper.active {
        /* visibility: visible; */
        opacity: 1;
        z-index: -1;
        transform: translateY(0);
        transition: transform 0.4s ease-out, opacity 0.6s ease-out;
    }
}

@media (max-width: 599px) {
    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    i.fa-solid.fa-bars {
        display: block;
        /* height: 15px; */
        /* border: 1px solid green; */
    }

    .nav-link.active-link {
        color: orange;
    }
}

.footer {
    bottom: 0px;
    height: 25px;
}

/* .keyboard-container {
    z-index: 345;
    height: 30px;
    background: red;
} */